<!DOCTYPE HTML>
<html lang="en">
	<head>
		<title>Portfolio Page</title>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge">

		<link rel="stylesheet" href="../assets/css/main.css" />
		<noscript><link rel="stylesheet" href="../assets/css/noscript.css" /></noscript>
	</head>
	<body class="is-preload">
		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header">
						<div class="inner">

							<!-- Logo -->
								<a href="/index" class="logo">
									<span class="symbol"><img src="../assets/images/atom_white.png" target="_blank" id="logo" alt="atom" /></span><span class="title">Mark Kim</span>
								</a>

							<!-- Nav -->
								<nav>
									<ul>
										<li><a href="#menu">Menu</a></li>
									</ul>
								</nav>

						</div>
					</header>

				<!-- Menu -->
					<nav id="menu">
						<h2>Menu</h2>
						<ul>
							<li><a class="active" href="/">Home</a></li>
							<li><a href="/resume">Resume</a></li>
							<!-- <li><a href="/about">About</a></li> -->
							<!-- <li><a href="/blog">Blog</a></li> -->
							<!-- <li><a href="/contact">Contact</a></li> -->
						</ul>
					</nav>

				<!-- Main -->
					<div id="main">
						<div class="inner">
							<header>
								<h2>My Web Projects &amp; <a href="/resume" target="_blank">Resume</a>
									<span class="p6">
										<a href="../assets/docs/mark_kim_resume.pdf ">(downloadable pdf)</a>
									</span>
								</h2>
							</header>
							<section class="tiles">
								
								<!--   Airbnb   -->
								<article class="style1">
									<span class="image image-text">
										<img src="../assets/images/airbnb.png" alt="airbnb" id="git-img"/>
										<a href="https://github.com/markjnkim/welcome-to-sd" target="_blank" id="git-link">link to GitHub repo</a>
									</span>
									<a href="http://guide-san-diego.herokuapp.com" target="_blank">
										<h2>Airbnb Guide</h2>
										<div class="content">
											<p>A useful website companion app that can help guests utlize house and neighborhood amenities, answer FAQ's, and assist navigating sites like Airbnb to assist guests with reservation changes.</p>
										</div>
									</a>
								</article>
									
								
								
								<!--   Swappaws   -->
								<article class="style2">
									<span class="image image-text">
										<img src="../assets/images/paws.png" alt="swappaws "/>
										<a href="https://github.com/markjnkim/swappaws " target="_blank ">link to GitHub repo</a>
									</span>
									<a href="http://swappaws.herokuapp.com/pets " target="_blank ">
										<h2>Swap Paws</h2>
										<div class="content ">
											<p>Social media web application that connects neighborhood pet owners with pet services.</p>
										</div>
									</a>
								</article>

								<!--   Newspaper   -->
								<article class="style3">
									<span class="image image-text">
										<img src="../assets/images/nyt.jpg" alt="" />
										<a href="https://github.com/markjnkim/react_nyt" target="_blank">link to GitHub repo</a>
									</span>
									<a href="https://github.com/markjnkim/react_nyt" target="_blank">
										<h2>Newspaper Clipper</h2>
										<div class="content">
											<p>A news aggregator.</p>
										</div>
									</a>
								</article>
								<article class="style4">
									<span class="image image-text">
										<img src="../assets/images/memory.png" alt="memory" />
										<a href="https://github.com/markjnkim/clicky" target="_blank">link to GitHub repo</a>
									</span>
									<a href="https://github.com/markjnkim/clicky-game" target="_blank">
										<h2>Memory Game</h2>
										<div class="content">
											<p>A memory game.</p>
										</div>
									</a>
								</article>
								<article class="style5">
									<span class="image image-text">
										<img src="../assets/images/keep-events.png" alt="Text Event" />
										<a href="https://github.com/markjnkim/TextEvent" target="_blank">link to GitHub repo</a>
									</span>
									<a href="http://textevent.herokuapp.com" target="_blank">
										<h2>Event Coordinator</h2>
										<div class="content">
											<p>A full stack web application that can be your personal event coordinator. </p>
										</div>
									</a>
								</article>
							</section>
						</div>
					</div>

				<!-- Footer -->
					<footer id="footer">
						<div class="inner">
							<section>
								<h2>Get in touch</h2>
								<form method="post" action="/submit">
									<div class="fields">
										<div class="field half">
											<input type="text" name="name" id="name" placeholder="Name" />
										</div>
										<div class="field half">
											<input type="email" name="email" id="email" placeholder="Email" />
										</div>
										<div class="field">
											<textarea name="message" id="message" placeholder="Message"></textarea>
										</div>
									</div>
									<ul class="actions">
										<li><input type="submit" id="make-new" value="Send" class="primary" /></li>
									</ul>
								</form>
							</section>
							<section>
								<h2>Follow</h2>
								<ul class="icons">
									<li><a href="https://github.com/markjnkim" class="icon style2 fa-github" target="_blank"><span class="label">GitHub</span></a></li>
									<li><a href="tel:619 922 1827 " class="icon style2 fa-phone"><span class="label">Phone</span></a></li>
									<li><a href="mailto: mark.jn.kim@gmail.com" target="_blank" class="icon style2 fa-envelope-o"><span class="label">Email</span></a></li>
									<li><a href="https://twitter.com/markjnkim" target="_blank" class="icon style2 fa-twitter"><span class="label">Twitter</span></a></li>
									<!-- <li><a href="#" class="icon style2 fa-500px"><span class="label">500px</span></a></li> -->
									<!-- <li><a href="#" class="icon style2 fa-facebook"><span class="label">Facebook</span></a></li>
									<li><a href="#" class="icon style2 fa-instagram"><span class="label">Instagram</span></a></li>
									<li><a href="#" class="icon style2 fa-dribbble"><span class="label">Dribbble</span></a></li> -->
								</ul>
							</section>
							<ul class="copyright">
								<li>&copy; Mark Kim. All rights reserved</li>
							</ul>
						</div>
					</footer>

			</div>

		<!-- Scripts -->
			<script src="../assets/js/jquery.min.js"></script>
			<script src="../assets/js/browser.min.js"></script>
			<script src="../assets/js/breakpoints.min.js"></script>
			<script src="../assets/js/util.js"></script>
			<script src="../assets/js/main.js"></script>
			<script src="../assets/js/app.js"></script>

	</body>
</html>