<!DOCTYPE HTML>
<html lang="en">

<head>
	<title>Resume</title>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<meta name="description" content="Responsive HTML5 Resume/CV">
	<meta name="author" content="Mark Kim">
	<link rel="shortcut icon" href="../favicon.ico">
	<link rel="stylesheet" href="../assets/css/main.css" />

	<!-- Google Font -->
	<link href='https://fonts.googleapis.com/css?family=Roboto:400,500,400italic,300italic,300,500italic,700,700italic,900,900italic'
	 rel='stylesheet' type='text/css'>
	<!-- FontAwesome JS -->
	<script defer src="https://use.fontawesome.com/releases/v5.1.0/js/all.js" integrity="sha384-3LK/3kTpDE/Pkp8gTNp2gR/2gOiwQ6QaO7Td0zV76UFJVhqLl4Vl3KL1We6q6wR9"
	 crossorigin="anonymous"></script>
	<!-- Global CSS -->
	<link rel="stylesheet" href="../assets/plugins/bootstrap/css/bootstrap.min.css">
	<!-- Theme CSS -->
	<link id="theme-style" rel="stylesheet" href="../assets/css/orbit-1.css">
	<link id="progress-style" rel="stylesheet" href="../assets/css/style.css">

	<noscript>
		<link rel="stylesheet" href="../assets/css/noscript.css" /></noscript>
</head>

<body>
	<div class="wrapper">
		<header id="header">
			<!-- <div class="inner"> -->
				<nav>
					<ul>
						<li><a href="#menu">Menu</a></li>
					</ul>
				</nav>
			<!-- </div> -->
		</header>
		<!--  Main  -->
		<!-- Menu -->
		<nav id="menu">
			<h2>Menu</h2>
			<ul>
				<li><a href="/index">Home</a></li>
				<li><a class="active" href="/resume">Resume</a></li>
				<!-- <li><a href="/about">About</a></li> -->
				<!-- <li><a href="generic.html">Blog</a></li>
				<li><a href="generic.html">Consequat dolor</a></li>
				<li><a href="elements.html">Elements</a></li> -->
			</ul>
		</nav>

		<div class="sidebar-wrapper">
			<div class="profile-container">
				<img class="profile img-circle img-size" src="../assets/images/circle_profile.png" alt="profile" />
				<h1 class="name">Mark Kim</h1>
				<!-- <h3 class="tagline">Full Stack Developer</h3> -->
				<p id="tag-font">Full Stack Web Developer</p>
			</div>
			<!--//profile-container-->

			<div class="contact-container container-block div-width" style="padding: 20px 10px 20px 30px">
				<ul class="list-unstyled contact-list profile-width">

					<li class="email"><i class="fas fa-envelope"></i>
						<a href="mailto: mark.jn.kim@gmail.com">mark.jn.kim@gmail.com</a>
					</li>

					<li><i class=" fas fa-phone "></i>
						<a href="tel:619 922 1827 ">(619) 922-1827</a>
					</li>

					<li class="website "><i class="fas fa-globe "></i>
						<a href="http://markjnkim.com " target="_blank ">markjnkim.com
						</a>
					</li>

					<li class="linkedin "><i class="fab fa-linkedin-in "></i><a href="https://www.linkedin.com/in/markjnkim/
              " target="_blank ">linkedin.com/in/markjnkim</a>
					</li>

					<li class="github "><i class="fab fa-github "></i><a href="https://github.com/markjnkim " target="_blank ">github.com/markjnkim</a></li>
					<li class="twitter "><i class="fab fa-twitter "></i><a href="https://twitter.com/markjnkim " target="_blank ">@markjnkim</a></li>
				</ul>
			</div>
			<!--//contact-container-->

			<!--//interests-->
			<section class="interests-container container-block " id="progress-box ">
				<p class="container-block-title p2">Skills &amp; Proficiency</p>
				<div class="skillset ">
					<p class="degree ">Front End</p>
					<!-- Javascript -->
					<div class="item ">
						<div class="progress level-bar bg-info ">
							<div class="progress-bar theme-progress-bar bg-white " role="progressbar " style="width: 90%
              " aria-valuenow="90 " aria-valuemin="0 " aria-valuemax="100 ">Javascript
							</div>
						</div>
					</div>
					<!--//item-->

					<!-- jQuery -->
					<div class="item ">
						<div class="progress level-bar bg-info ">
							<div class="progress-bar theme-progress-bar bg-white " role="progressbar " style="width: 95%
            " aria-valuenow="95 " aria-valuemin="0 " aria-valuemax="100 ">jQuery
							</div>
						</div>
					</div>
					<!--//item-->
					<!--  HTML CSS-->
					<div class="item ">
						<div class="progress level-bar bg-info">
							<div class="progress-bar theme-progress-bar bg-white" role="progressbar " style="width: 95%
                " aria-valuenow="95 " aria-valuemin="0 " aria-valuemax="100 ">HTML5 &amp; CSS3
							</div>
						</div>
					</div>
					<!--//item-->

					<!-- ES6 -->
					<div class="item ">
						<div class="progress level-bar bg-info">
							<div class="progress-bar theme-progress-bar bg-white" role="progressbar " style="width: 88%
            " aria-valuenow="88 " aria-valuemin="0 " aria-valuemax="100 ">ES6
							</div>
						</div>
					</div>
					<!--//item-->

					<!-- React -->
					<div class="item ">
						<div class="progress level-bar bg-info">
							<div class="progress-bar theme-progress-bar bg-white" role="progressbar " style="width: 85%
            " aria-valuenow="85 " aria-valuemin="0 " aria-valuemax="100 ">React
							</div>
						</div>
					</div>
					<!--//item-->

					<p class="degree ">Back End</p>
					<!-- Mongo & Mongoose-->
					<div class="item ">
						<div class="progress level-bar bg-info">
							<div class="progress-bar theme-progress-bar bg-white" role="progressbar " style="width: 82%
                " aria-valuenow="82 " aria-valuemin="0 " aria-valuemax="100 ">Mongo &amp; Mongoose
							</div>
						</div>
					</div>
					<!--//item-->

					<!-- SQL -->
					<div class="item ">
						<div class="progress level-bar bg-info">
							<div class="progress-bar theme-progress-bar bg-white" role="progressbar " style="width: 82%
              " aria-valuenow="82 " aria-valuemin="0 " aria-valuemax="100 ">MySQL &amp; PostgreSQL
							</div>
						</div>
					</div>
					<!--//item-->

					<!-- Node & NPM -->
					<div class="item ">
						<div class="progress level-bar bg-info">
							<div class="progress-bar theme-progress-bar bg-white" role="progressbar " style="width: 84%
                " aria-valuenow="84 " aria-valuemin="0 " aria-valuemax="100 ">Node.js &amp; NPM
							</div>
						</div>
					</div>
					<!--//item-->

					<!-- Ruby on Rails-->
					<div class="item ">
						<div class="progress level-bar bg-info">
							<div class="progress-bar theme-progress-bar bg-white" role="progressbar " style="width: 82%
                  " aria-valuenow="82  " aria-valuemin="0 " aria-valuemax="100 ">Ruby on Rails
							</div>
						</div>
					</div>
					<!--//item-->

					<p class="degree ">Tools</p>
					<!-- Postman -->
					<div class="item ">
						<div class="progress level-bar bg-info">
							<div class="progress-bar theme-progress-bar bg-white" role="progressbar " style="width: 87%
              " aria-valuenow="87 " aria-valuemin="0 " aria-valuemax="100 ">Postman
							</div>
						</div>
					</div>
					<!--  Git  -->
					<div class="item ">
						<div class="progress level-bar bg-info">
							<div class="progress-bar theme-progress-bar bg-white" role="progressbar " style="width: 97%
                " aria-valuenow="97 " aria-valuemin="0 " aria-valuemax="100 ">Git
							</div>
						</div>
					</div>
					<!--  Robo 3T  -->
					<div class="item ">
						<div class="progress level-bar bg-info">
							<div class="progress-bar theme-progress-bar bg-white " role="progressbar " style="width: 86%
                  " aria-valuenow="86 " aria-valuemin="0 " aria-valuemax="100 ">Robo 3T
							</div>
						</div>
					</div>
				</div>
			</section>

			<!-- Education  -->
			<div class="education-container container-block " style="padding-bottom: 20px; padding-top: 0px" id="e-wrapper ">
				<p class="container-block-title p2 ">Education</p>
				<div class="item ">
					<p class="p2 meta " style="font-weight: bold; color: white"><b>Dev Bootcamp</b><span class="right-margin time">2017</span></p>
					
					<div class="degree ">Immersive high intensity web development bootcamp focussed on web development in the full stack with
					Javascript, Node.js, Ruby on Rails, Posgresql, React.js, CSS, jQuery, and HTML</div>
				</div>
				<!--//item-->
				<div class="item ">
					<p class="p2 meta left-margin" style="font-weight: bold; color: white">University of California,</p>
					<p class="p2 meta left-margin" style="font-weight: bold; color: white">Los Angeles (UCLA) 
						<span class="right-margin time">   2000</span>
					</p>
					<p class="degree ">Bachelor of Science in Electrical Engineering</p>
					<!-- <span class="time ">1994-2000</span> -->
				</div>
				<!--//item-->
			</div>
			<!--//education-container-->

			<!--  Hobbies  -->
			<div class="interests-container container-block" id="i-wrapper " style="padding-top: 0px; padding-bottom: 0px;">
				<p class="p2 container-block-title ">Interests</p>
				<ul class="list-unstyled list-inline interests-list ">
					<li class="list-inline-item">Cycling</li>
					<li class="list-inline-item">Snowboarding</li>
					<li class="list-inline-item">Cooking</li>
					<li class="list-inline-item">Badminton</li>
					<li class="list-inline-item">Camping</li>
					<li class="list-inline-item">Hiking</li>
				</ul>
			</div>
			<!--//interests-->
		</div>
		<!--//sidebar-wrapper-->

		<!--  main-wrapper  -->
		<div class="main-wrapper ">
			<section class="section experiences-section ">
				<p class="p2 section-title "><span class="icon-holder "><i class="fas fa-briefcase "></i></span>Professional Experience</p>

				<div class="item ">
					<div class="meta ">
						<div class="upper-row ">
							<p class="p3 job-title ">Web Development Instruction Assistant</p>
							<div class="time ">2018-current</div>
						</div>
						<!--//upper-row-->
						<div class="company "><a href="https://extension.ucsd.edu/ " target="_blank">UCSD extension</a></div>
					</div>
					<!--//meta-->
					<div class="details ">
						<ul>
							<li>
								Lead Instruction Assistant responsible for teaching students in a full time web development bootcamp with an emphasis on
								the MERN stack
							</li>
							<li>
								Core curriculum focused on technologies on the front end with HTML, CSS, jQuery, Javascript, React and the back end with
								mysql, mongoDB, express, and mongoose as well as core web development fundamentals, web tools, and work processes
								such as git version control.
							</li>
							<li>
								Critical in debugging code for full stack applications and analyzing errors for build errors in deployment with heroku apps.
							</li>
						</ul>
					</div>
					<!--//details-->
				</div>
				<!--//item-->

				<div class="item ">
					<div class="meta ">
						<div class="upper-row ">
							<p class="p3 job-title ">Front End Web Developer</p>
							<div class="time ">2018</div>
						</div>
						<!--//upper-row-->
						<div class="company "><a href="https://mothererth.com/" target="_blank">MotherErth, San Diego</a>
						</div>
					</div>
					<!--//meta-->
					<div class="details ">
						<ul>
							<li>
								Developed solutions for a non-profit ecommerce website using the Shopify platform.
							</li>
							<li>
								Researched, tested, then implemented multiple jQuery plugins that improved UX and sales conversion.
							</li>
							<li>
								Self-taught Shopify's propriety scripting language Liquid, to formulate the ratings system to customize queries that only
								render ratings specific to a customer's search item, improving conversion by 9.5%.
							</li>
						</ul>
					</div>
					<!--//details-->
				</div>
				<!--//item-->

				<div class="item ">
					<div class="meta ">
						<div class="upper-row ">
							<p class="p3 job-title ">Founder</p>
							<div class="time ">2002-2016</div>
						</div>
						<!--//upper-row-->
						<div class="company " style="color:#2d7788;">FuzeBox, San Diego</div>
					</div>
					<!--//meta-->
					<div class="details ">
						<ul>
							<li>
								As head of the company, I oversaw a period of record sales growth,vast expansion over southern California, and a scalable business model.
							</li>
							<li>
								Researched and implemented an inventory management software platform that improved overall profit margin by over 22% due to the ability to predict seasonal buys, analyze trends, and minimize opportunity costs.
							</li>
							<li>
								Spearheaded focus on digital marketting and creating a social media presence that elevated in store traffic and sales by 14%.
							</li>
						</ul>
					</div>
					<!--//details-->
				</div>
				<!--//item-->

				<div class="item ">
					<div class="meta ">
						<div class="upper-row ">
							<p class="p3 job-title ">Front End Developer</p>
							<div class="time ">2000 - 2002</div>
						</div>
						<!--//upper-row-->
						<div class="company "><a href="https://www2.deloitte.com/us/en/services/consulting.html" target="_blank">Deloitte Consulting, Santa Ana, CA</a>
						</div>
					</div>
					<!--//meta-->
					<div class="details ">
						<ul>
							<li>
								Customized front end interfaces for clients to query the SAP R3 database.
							</li>
							<li>
								Using the propriety language ABAP, reports were formulated to meet specific customer requirements.
							</li>
							<li>
								Collaborated on a team of engineers that worked in conjunction with client stakeholders to determine requirements for interfaces
								and query forms.
							</li>
						</ul>

					</div>
					<!--//details-->
				</div>
				<!--//item-->

				<section class="section summary-section ">
					<p class="p2 section-title "><span class="icon-holder "><i class="fas fa-user "></i></span>Career Profile</p>
					<div class="summary ">
						<p>Extensive leadership, project management, and software development roles have positioned me to add value and drive on day one. Creative problem solving skills and a tenacious focus to deliver have sustained a successful career with many accomplishments. </p>
					</div>
					<!--//summary-->
				</section>
				<!--//section-->
			</section>
			<!--//section-->

			<section class="section projects-section ">
				<p class="p2 section-title "><span class="icon-holder "><i class="fas fa-archive "></i></span>Projects</p>

				<div class="item ">
					<span class="project-title "><a href="http://guide-san-diego.herokuapp.com " target="_blank
						">Home Share Guide</a></span> - <span class="project-tagline
						">A responsive website template designed to help hosts promote, market and utilize their home amenities. Aimed
						at the sharing economy for hosts looking to help distinguish their property with an excellent marketing tool designed
						to boost user ratings and guest satisfaction at a minimal cost.</span><span><a href="https://github.com/markjnkim/welcome-to-sd " target="_blank">GitHub
							link
						</a></span>
				</div>
				<!--//item-->

				<div class="item ">
					<span class="project-title "><a href="http://swappaws.herokuapp.com " target="_blank ">Swappaws</a></span> -
					<span class="project-tagline
						">A responsive social media website connecting pet owners to a network of local free and paid services.
						Tapping into a shared communal network of pet owners that can trade services as well as purchase from pet professionals.
						A robust ratings system takes advantage of a crowd sourced participation that establishes a basis for trust and honesty.
						</span><span><a href="https://github.com/markjnkim/swappaws " target="_blank">GitHub link</a></span>
				</div>
				<!--//item-->

				<div class="item ">
					<span class="project-title "><a href="https://github.com/markjnkim/react_nyt" target="_blank
              ">News Post</a></span> - <span class="project-tagline
              ">A full stack responsive app using React to aggregate news articles and save favorite articles to a new page
						&amp; databse.</span><span><a href="https://github.com/markjnkim/react_nyt" target="_blank">GitHub link</a></span>
				</div>
				<!--//item-->

				<div class="item ">
					<span class="project-title "><a href="https://github.com/markjnkim/clicky-game " target="_blank
              ">Memory Game</a></span> - <span class="project-tagline ">A memory game that assists in retaining short term
						memory. </span><span><a href="https://github.com/markjnkim/clicky-game " target="_blank">GitHub link</a></span>
				</div>
				<!--//item-->

				<div class="item ">
					<span class="project-title "><a href="http://textevent.herokuapp.com " target="_blank
              ">Text Event</a></span> - <span class="project-tagline
              ">A responsive web app that can contact the guest in your event to send out invitations and RSVP's. </span><span><a
						 href="https://github.com/markjnkim/TextEvent " target="_blank ">GitHub link</a></span>
				</div>
				<!--//item-->
			</section>
			<!--//section-->

		</div>
		<!--//main-body-->
	</div>

	<footer class="footer ">
		<div class="text-center ">
			<small class="copyright ">Designed with <i class="fas fa-heart "></i> by <a href="http://markjnkim.com
              " target="_blank ">Mark Kim</a></small>
		</div>
		<!--//container-->
	</footer>
	<!--//footer-->
	<!-- Scripts -->
	<script src="../assets/js/jquery.min.js"></script>
	<script src="../assets/js/browser.min.js"></script>
	<script src="../assets/js/breakpoints.min.js"></script>
	<script src="../assets/js/util.js"></script>
	<script src="../assets/js/main.js"></script>
</body>

</html>