.theme-progress-bar{
  background-color: white;
  min-width: 100px;
  position: relative;
}

.level-title{
  min-width: 150px;
  position: relative;
}
.container-block-title{
  margin-left:10px;
}
.container-block{
  margin-left:-10px;
}
.progress-bar{
  position: relative;
  color: rgb(75, 74, 74);
}
#progress-box{
  display: inline-block;
}
.progress{
  min-height: 20px;
  height: 100%;
}

.skill-title{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 14px;
  color: rgb(240, 240, 194);
  padding-left: 20px;
}
.tagline {
	/* color: rgba(171, 118, 118, 0.6);*/
	color: black;
  font-size: 35px;
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 0;
  background-color: red;
  font-stretch: normal;
  font-variant: normal;
  background-color: red;
}
#tag-font{
  font: normal normal normal 14px/1.4 Roboto
}

/* h1, h2, h3, h4, h5, h6 {
  font: normal normal normal 16px/1.4 Roboto;
  background-color: red;
} */


.p1{
  font: normal normal normal 24px/1.4 Roboto
}
.p2{
  font: normal normal normal 20px/1.4 Roboto
}
.p3{
  font: normal normal normal 18px/1.4 Roboto
}
.p4{
  font: normal normal normal 17px/1.4 Roboto
}
.p5{
  font: normal normal normal 16px/1.4 Roboto
}
.p6{
  font: normal normal normal 15px/1.4 Roboto
}


#i-wrapper {
  padding-top: 0px;
  padding-bottom: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
}
#e-wrapper {
  padding-top: 0px;
  padding-bottom: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
}
.meta{
  font-weight: bold;
}

.left-margin {
  margin: 0px;
  display: inline-block;
  font-weight: bold;
  color: red;
}

.right-margin {
  margin: 0px;
  display: inline-block;
  float: right;
}